<!-- String Input -->
<p *ngIf="field.dataType == 'String' && !field.allowedValues" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">
  <label popover="{{field.tooltip}}" triggers="mouseenter:mouseleave" *ngIf="field.label"><span *ngIf="field.isRequired" class="required" >*</span>{{field.label}}</label>
  <input *ngIf="4 == field.visibleFields || 5 == field.visibleFields" type="text" [(ngModel)]="field.modifiedFormattedValue" placeholder="{{field.label}}" [required]="field.IsRequired" class="form-control custom-field" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">
  <label *ngIf="field.errorMessage && field.errorMessage != ''" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">{{field.errorMessage}}</label>
</p>

<!-- String Input -->
<p *ngIf="field.dataType == 'EmailAddress'" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">
  <label popover="{{field.tooltip}}" triggers="mouseenter:mouseleave" *ngIf="field.label"><span *ngIf="field.isRequired" class="required" >*</span>{{field.label}}</label>
  <input *ngIf="4 == field.visibleFields || 5 == field.visibleFields" type="text" [(ngModel)]="field.modifiedFormattedValue" placeholder="{{field.label}}" [required]="field.IsRequired" class="form-control custom-field" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">
  <label *ngIf="field.errorMessage && field.errorMessage != ''" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">{{field.errorMessage}}</label>
</p>

<!-- String Input -->
<p *ngIf="field.dataType == 'PhoneNumber'" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">
  <label popover="{{field.tooltip}}" triggers="mouseenter:mouseleave" *ngIf="field.label"><span *ngIf="field.isRequired" class="required" >*</span>{{field.label}}</label>
  <input *ngIf="4 == field.visibleFields || 5 == field.visibleFields" type="text" [(ngModel)]="field.modifiedFormattedValue" placeholder="{{field.label}}" [required]="field.IsRequired" class="form-control custom-field" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">
  <label *ngIf="field.errorMessage && field.errorMessage != ''" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">{{field.errorMessage}}</label>
</p>

<!-- Yes / No Select Box -->
<p *ngIf="field.dataType == 'String' && field.allowedValues" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">
    <label popover="{{field.tooltip}}" triggers="mouseenter:mouseleave" *ngIf="field.label"><span *ngIf="field.isRequired" class="required" >*</span>{{field.label}}</label>
    <select [(ngModel)]="field.modifiedFormattedValue" class="form-control custom-select" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">
      <option value="">{{field.ListSelectionInstruction || 'Change...'}} </option>
      <option value="{{option.key}}" *ngFor="let option of field.allowedValues">{{option.value}}</option>
    </select>
    <label *ngIf="field.errorMessage && field.errorMessage != ''" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">{{field.errorMessage}}</label>
</p>

<!-- Password Input -->
<p *ngIf="field.dataType == 'Password' && !field.allowedValues" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">
  <label popover="{{field.tooltip}}" triggers="mouseenter:mouseleave" *ngIf="field.label"><span *ngIf="field.isRequired" class="required" >*</span>{{field.label}}</label>
  <input *ngIf="4 == field.visibleFields || 5 == field.visibleFields" type="text" [(ngModel)]="field.modifiedFormattedValue" placeholder="{{field.label}}" [required]="field.IsRequired" class="form-control custom-field" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">
  <label *ngIf="field.errorMessage && field.errorMessage != ''" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">{{field.errorMessage}}</label>
</p>

<p *ngIf="field.dataType == 'PDF'" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">
  <app-signature-pad [fileSrc]="field.formattedValue" (signed)="onSigned($event)"></app-signature-pad>
</p>


<!-- Date Picker -->
<p class="datepicker-wrapper" *ngIf="field.dataType == 'Date'" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">
  <label popover="{{field.tooltip}}" triggers="mouseenter:mouseleave" *ngIf="field.label"><span *ngIf="field.isRequired" class="required" >*</span>{{field.label}}</label>
  <input *ngIf="4 == field.visibleFields || 5 == field.visibleFields" class="form-control field-datepicker custom-field" type="text" popover="{{field.tooltip}}" [(ngModel)]="field.modifiedFormattedValue" #dp="bsDatepicker" bsDatepicker [bsConfig]="bsConfig" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}"/>
  <label *ngIf="field.errorMessage && field.errorMessage != ''" [ngClass]="{'error': field.errorMessage && field.errorMessage != ''}">{{field.errorMessage}}</label>
</p>

