  <div class="article-wrap">
    <div class="article-title">
      <h2>Would you like to book your next rotation...</h2>
    </div>
    <div class="article-body">
      <div class="field-wrap para-lg" *ngIf="formBuilder">
        <app-form-builder *ngFor="let field of formBuilder.Controls" [field]="field"></app-form-builder>
      </div>
    </div>
    <div class="article-footer">
      <a href="javascript:void(0)" class="btn" (click)="goBack()">Back</a>
      <a href="javascript:void(0)" class="btn" (click)="submitForm()">Next</a>
    </div>
  </div>
