<!--<div class="processed-wrap not-show">-->
<!--  <div class="proceed-txt">Please Wait for 10 Sec</div>-->
<!--</div>-->

<div class="logo-wrap">
  <div class="container">
    <div class="logo">
      <img src="{{page.pageInfo.banner1}}" alt="">
    </div>
  </div>
</div>

<div class="banner-wrap banner-bg-image" style="background: url({{page.pageInfo.banner2}});">
  <div class="container">
    <!-- image will go here then delete "banner-bg-image" this class from top parent -->
    <!-- <img src="{{page.pageInfo.banner2}}" alt=""> -->
  </div>
</div>
<div class="article-wrap" *ngIf="page.pageContent">
    <!--
        1 => label
				2 => formatted value rendered as text not editable
				4 => formatted value and modifiable
				5 => labels and field
    -->

    <div [ngClass]="{ 'article-title': 1 == field.visibleFields && index == 0, 'article-body': index > 0 && 1 != field.visibleFields }" *ngFor="let field of page.pageContent.controls; let index = $index">
      <h2 *ngIf="field.instruction != ''">{{field.instruction}}</h2>
      <div class="field-wrap para-lg">
        <div class="text-only" *ngIf="4 != field.visibleFields && 5 != field.visibleFields">
          <p>{{field.label}}</p>
        </div>
        <div class="form-field" *ngIf="1 == field.visibleFields && field.dataType == 'Waiting'">
          <div class="timer-wrap" *ngIf="this.wait>0">
            <span>{{this.wait}}</span>
          </div>
        </div>
        <div class="form-field" *ngIf="4 == field.visibleFields || 5 == field.visibleFields" [ngClass]="{'form-pdf-wrap':  field.dataType == 'PDF'}">
          <app-form-builder [field]="field" (fireSubmit)="onSubmitfired($event)"></app-form-builder>
        </div>
      </div>
    </div>
    <div class="article-footer" *ngIf="!page.pageContent.initialConfig">
      <label class="error" *ngIf="this.error">There is error with your input, please check!</label>
      <a href="javascript:void(0)" class="btn" (click)="submitForm()" *ngIf="page.pageContent.step != 999 && wait<=0">{{page.pageContent.defaultActionLabel || 'Next'}}</a>
      <a href="javascript:void(0)" class="btn" (click)="resetThisID()" *ngIf="page.pageContent.step == 999">Reset</a>
    </div>
  </div>
<div class="footer">
  <p>{{page.pageInfo.footer}}</p>
</div>
