<div class="logo-wrap">
  <div class="container">
    <div class="logo">
      <img src="{{page.pageInfo.banner1}}" alt="">
    </div>
  </div>
</div>

<div class="banner-wrap" [ngStyle]="{Background: page.pageInfo.banner2}"></div>
<div class="article-wrap" *ngIf="page.pageContent">
    <!--
        1 => label
				2 => formatted value rendered as text not editable
				4 => formatted value and modifiable
				5 => labels and field
    -->

    <div [ngClass]="{ 'article-title': 1 == field.visibleFields && index == 0, 'article-body': index > 0 && 1 != field.visibleFields }" *ngFor="let field of page.pageContent.controls; let index = $index">
      <h2 *ngIf="field.instruction != ''">{{field.instruction}}</h2>
      <div class="field-wrap para-lg">
        <div class="text-only" *ngIf="4 != field.visibleFields && 5 != field.visibleFields">
          <p>{{field.Label}}</p>
        </div>
        <div class="form-field" *ngIf="4 == field.visibleFields || 5 == field.visibleFields">
          <app-form-builder [field]="field" ></app-form-builder>
        </div>
      </div>
    </div>
    <div class="article-footer" *ngIf="!page.pageContent.initialConfig">
      <a href="javascript:void(0)" class="btn" (click)="submitForm()">{{page.pageContent.defaultActionLabel || 'Next'}}</a>
    </div>
  </div>
