<div class="container">
  <div class="signature-wrap">
    <div class="row">
      <div class="col-sm-12">
        <ngx-extended-pdf-viewer
          [base64Src]="fileSrc"
          backgroundColor="#ffffff"
          [useBrowserLocale]="true"
          [handTool]="false"
          [showHandToolButton]="true"
          height="80vh">
        </ngx-extended-pdf-viewer>
        <br />
        <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
      </div>
    </div>

    <button class="btn-clear" (click)="clearSignature()">Clear</button>
  </div>

</div>
