
  <div class="article-wrap">
    <div class="article-title">
      <h2>Select the shift for your next visit</h2>
    </div>
    <div class="article-body">
      <div class="field-wrap para-lg">
        <div class="rado-wrap">
          <div class="custom-control custom-radio">
            <input type="radio" id="shiftVisitYes" name="shiftVisit" class="custom-control-input">
            <label class="custom-control-label" for="shiftVisitYes">Day</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="shiftVisitNo" name="shiftVisit" class="custom-control-input">
            <label class="custom-control-label" for="shiftVisitNo">Night</label>
          </div>
        </div>
      </div>
    </div>
    <div class="article-footer">
      <a href="javascript:void(0)" class="btn" (click)="goBack()">Back</a>
      <a href="javascript:void(0)" class="btn" (click)="submitForm()">Next</a>
    </div>
  </div>
