
  <div class="article-wrap">
    <div class="article-title">
      <h2>We will request a new reservation</h2>
      <p>For Wapasu Creek Main & East Lodges</p>
    </div>
    <div class="article-body">
      <div class="field-wrap">
        <div class="para-sm gap-bot">
          <p>Arriving: 3/31/2020</p>
          <p>Arriving: 04/09/2020</p>
          <p>For Night Shift</p>
        </div>
        <h4>Is this correct?</h4>
        <div class="rado-wrap">
          <div class="custom-control custom-radio">
            <input type="radio" id="shiftVisitYes" name="shiftVisit" class="custom-control-input">
            <label class="custom-control-label" for="shiftVisitYes">Yes</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="shiftVisitNo" name="shiftVisit" class="custom-control-input">
            <label class="custom-control-label" for="shiftVisitNo">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="article-footer">
      <a href="javascript:void(0)" class="btn" (click)="goBack()">Back</a>
      <a href="javascript:void(0)" class="btn" (click)="submitForm()">Next</a>
    </div>
  </div>
