@font-face {
    font-family: 'playfair_displayblack';
    src: url('../fonts/playfairdisplay-black-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_displaybold';
    src: url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_displayregular';
    src: url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Default Font Styles
______________________*/
body, input, select, textarea {
  font-family: 'poppinsregular';
  font-size: 18px;
  color: #7C7C7C;
  line-height: 1.3;
}
body{
  background: #e7f8ff;
  min-height: 100vh;
}


/* Headings
______________________*/
h1,h2,h3,h4,h5,h6{
  font-family: 'playfair_displayblack';
  font-weight: 900;
  color: #000000;
  line-height: 1.2;
  margin: 0 0 25px;
}
h2{
  font-size: 48px;
}


/* Links
______________________*/

@media (min-width: 1200px) {
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #7C7C7C;
}

a:hover {
  color: #7C7C7C;
  text-decoration: none;
}
.text-underline{
  text-decoration: underline;
}


/* p, blockquote, address
______________________*/
p {
  line-height: 1.6;
  margin: 0 0 20px;
}
/* Header
______________________*/
.logo-wrap{
  background: #fff;
  position: relative;
  -moz-box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}
.logo{
  padding: 15px 0;
}
.logo img{
  max-height: 62px;
}
.popover{
  background: #5bc0ed;
  border-color: #5bc0ed;
}
  .popover-body{
    color: #fff;
  }
  .bs-popover-auto[x-placement^=top]>.arrow::after, 
  .bs-popover-top>.arrow::after{
    border-top-color: #5bc0ed;
  }
.banner-wrap{
  margin: 0 0 40px;
}
.banner-bg-image{
  background: url(../images/banner.jpg) no-repeat;
  background-position: center 60% !important;
  background-size: cover !important;
  height: 450px;
}
.loader{
  position: relative;
}
.loader:before{
  content: " ";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0.6);
}
.loader:after{
  content: " ";
  position: fixed;
  left: 50%;
  top: 50%;
  background: url(/assets/images/loading.gif) no-repeat;
  background-size: 100% auto;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
}
.article-wrap{
  width: 650px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 40px;
}
  .article-wrap h2{
    font-size: 26px;
    line-height: 1.6;
    margin: 0 0 10px;
    padding-top: 20px;
  }
    .article-wrap > div:first-child h2{
      font-size: 48px;
      line-height: 1.3;
      margin: 0 0 30px;
      padding: 0;
    }
  .form-field{
    max-width: 450px;
    text-align: left;
    margin: 0 auto;
  }
  .para-lg p{
    margin-bottom: 20px;
  }
  .para-sm p{
    margin-bottom: 10px;
  }
  .text-only p{
    margin-bottom: 7px;
  }
  .gap-bot{
    padding-bottom: 20px;
  }
  .article-wrap label{
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    color: #000;
  }
  .article-wrap label.error {
    color: #ff0000;
    font-size: 14px;
  }
  .article-wrap .custom-field{
    color: #7C7C7C;
    font-size: 18px;
    padding: 14px 10px 15px 20px;
    border: 3px solid #5bc0ed;
    background: #fff !important;
    height: auto;
    text-align: left;
    outline: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .article-wrap .custom-field:focus{
    box-shadow: 0 0 0 0.2rem rgba(91, 192, 234, 0.5);
  }
  .article-wrap .custom-field.error{
    border-color: #ff0000;
  }
    .article-wrap .custom-field.field-datepicker{
      background:#fff url(../images/datepicker-icon.png) 98% 45% no-repeat !important;
      background-size: 30px auto !important;
    }
    .bs-datepicker-container{
      padding: 0;
    }
    .theme-orange .bs-datepicker-head,
    .theme-orange .bs-datepicker-body table td span.selected, 
    .theme-orange .bs-datepicker-body table td.selected span, 
    .theme-orange .bs-datepicker-body table td span[class*="select-"]:after, 
    .theme-orange .bs-datepicker-body table td[class*="select-"] span:after{
      background-color: #09425d;
      background: #09425d;
      background-image: linear-gradient(#09425d, #3f7892);
    }
    .theme-orange .bs-datepicker-body table td.week span{
      color: #5bc0ed;
    }
  .article-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 50px;
  }
  .article-footer .btn + .btn{
    margin-left: auto;
  }
  .article-footer .btn{
    border:4px solid #5bc0ed;
    color: #5bc0ed;
    font-family: 'poppinsmedium';
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 18px 70px 16px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .article-footer .btn:hover{
    border-color: #3e7892;
    color: #3e7892;
  }
.article-pagination{
  text-align: center;
  padding: 100px 0 0;
}
  .article-pagination ul,
  .article-pagination li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .article-pagination ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .article-pagination li{
    padding: 0 3px;
  }
  .article-pagination li a{
    width: 15px;
    height: 15px;
    display: block;
    background: #FF9975;
    -moz-border-radius: 50%;
    -ewbkit-border-radius: 50%;
    border-radius: 50%;
  }
  .article-pagination li.active a{
    background: #F85647;
  }
  .rado-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
    .rado-wrap .custom-control{
      margin: 0 40px 20px;
    }
    .rado-wrap .custom-control-label{
      padding: 9px 0 0 18px;
    }
    .rado-wrap .custom-control-input{
      width: 34px;
      height: 34px;
      z-index: 1;
      outline: none;
      box-shadow: none;
    }
    .rado-wrap .custom-control-label::before{
      top: 2px;
      width: 34px;
      height: 34px;
      border: 3px solid #FF9975;
      background: none;
      outline: none;
      box-shadow: none;
    }
    .rado-wrap .custom-control-input:checked~.custom-control-label::before{
      background: #F85647;
      border-color: #F85647;
    }
    .rado-wrap .custom-radio .custom-control-input:checked~.custom-control-label::after{
      background: none;
      left: -21px;
      top: 5px;
      width: 28px;
      height: 28px;
      border: 3px solid #fff;
      border-radius: 50%;
    }
  .date-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
    .date-wrap .date-inner{
      width: 33%;
      padding: 0 5px 20px;
    }
    .custom-select,
    .form-control.custom-select{
      width: 100%;
      height: auto;
      padding: 14px 50px 12px 20px;
      font-size: 18px;
      color: #000000;
      font-weight: 600;
      font-family: 'poppinsmedium';
      background:#fff url(../images/select-arrow.png) right center no-repeat;
      background-size: 45px 60px;
      border:3px solid #5bc0ed !important;
      box-shadow: none !important;
      outline: none !important;
      border-radius: 10px;
    }
    .subtitle{
      color: #F85647;
      font-family: 'poppinsmedium';
      font-weight: 600;
      font-size: 20px;
      margin: 0 0 20px;
    }
    .article-thankyou .article-title{
      margin: 0 0 60px;
    }
    .article-thankyou h2{
      font-size: 36px;
    }
    .article-thankyou .article-footer{
      justify-content: center;
    }
.modal{
  background: #FF9975;
}
  .modal-content{
    border:none;
    text-align: center;
    padding: 100px 40px 60px;
    -moz-box-shadow: 0px 5px 20px rgba(248, 86, 71, 0.4);
    -webkit-box-shadow: 0px 5px 20px rgba(248, 86, 71, 0.4);
    box-shadow: 0px 5px 20px rgba(248, 86, 71, 0.4);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .modal button.close{
    position: absolute;
    right: -12px;
    top: -10px;
    float: none;
    border: 3px solid #F85647;
    border-radius: 50%;
    z-index: 1;
    width: 35px;
    height: 35px;
    line-height: 32px;
    outline: none;
    opacity: 1;
    background: #fff;
    color: #F85647;
  }
  .modal button.close:hover{
    background: #fff;
    opacity: 1;
  }
  .modal-content h3{
    color: #F85647;
    font-family: 'poppinsmedium';
    font-weight: 600;
    font-size: 26px;
  }
.footer{
  text-align: center;
  font-size: 25px 15px 10px;
  color: #000;
  padding: 25px 0 10px;
}

.cl {
  clear: both;
  font-size: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}



.signature-wrap{
  overflow: hidden;
  position: relative;
}
.signature-wrap canvas{
  background: rgba(0,0,0, 0.1);
  background: #fff;
}
.btn-clear{
  position: absolute;
  right: 0;
  bottom: 12px;
  background: #3e7892;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none !important;
}
.btn-theme{
  background: none;
  border:4px solid #5bc0ed;
  color: #5bc0ed;
  font-family: 'poppinsmedium';
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 40px 12px;
  box-shadow: none;
  outline: none !important;
  text-decoration: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.btn-theme:hover{
  border-color: #3e7892;
  color: #3e7892;
}
.btn-red{
  color: #ff0000;
  border-color: #ff0000;
}
.btn-red:hover{
  color: #b36161;
  border-color: #b36161;
}

.processed-wrap{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(255,255,255, 0.8);
  text-align: center;
  color: #000;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.proceed-txt{
  background: url(/assets/images/loading.gif) center bottom no-repeat;
  background-size: 70px auto;
  padding:0 20px 80px;
}
.not-show{
  display: none !important;
}

.timer-wrap{
  text-align: center;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  background: url(/assets/images/loading.gif) center bottom no-repeat;
  background-size: 90px auto;
  padding:0 20px 100px;
}

@media (max-width: 1400px) {
  .banner-bg-image{
    height: 350px;
  }
}
@media (max-width: 1044px) {
  .banner-bg-image{
    height: 250px;
  }
  .article-wrap h2{
    font-size: 28px;
  }
  .article-wrap > div:first-child h2{
    font-size: 38px;
  }
}

@media (max-width: 767px) {
  .banner-wrap{
    display: none;
    margin: 0 0 25px;
  }
  .banner-bg-image{
    height: 200px;
  }
  .logo{
    padding: 20px 10px;
  }
  .logo img{
    max-height: 50px;
  }
  .article-wrap{
    width: 100%;
    padding: 30px 25px;
  }
  .article-wrap h2{
    font-size: 22px;
  }
  .article-wrap > div:first-child h2{
    font-size: 22px;
  }
  .article-wrap label{
    font-size: 16px;
  }
  .article-footer .btn{
    padding-left: 40px;
    padding-right: 40px;
  }
  .article-title{
    min-height: inherit;
  }
  .article-pagination{
    padding: 40px 0 0;
  }
  .article-footer{
    padding-top: 20px;
  }
  .date-wrap .date-inner{
    width: 100%;
    padding: 0 0 10px;
  }
  .article-thankyou h2{
    font-size: 30px;
  }
  .modal-content{
    padding: 50px 20px 20px;
  }
  .modal button.close{
    right: -4px;
    top: -12px;
  }
}